 
<div class="sidebar-panel offscreen-left">
<div class="brand">
 
<a href="javascript:;" class="toggle-apps hidden-xs" data-toggle="quick-launch">
<i class="icon-grid"></i>
</a>
 
 
<div class="toggle-offscreen">
<a href="javascript:;" class="visible-xs hamburger-icon" data-toggle="offscreen" data-move="ltr">
<span></span>
<span></span>
<span></span>
</a>
</div>
 
 
<a class="brand-logo">
<span>PayBox</span>
</a>
<a href="#" class="small-menu-visible brand-logo">R</a>
 
</div>
<ul class="quick-launch-apps hide">
<li>
<a href="apps-gallery.html">
<span class="app-icon bg-danger text-white">
G
</span>
<span class="app-title">Gallery</span>
</a>
</li>
<li>
<a href="apps-messages.html">
<span class="app-icon bg-success text-white">
M
</span>
<span class="app-title">Messages</span>
</a>
</li>
<li>
<a href="apps-social.html">
<span class="app-icon bg-primary text-white">
S
</span>
<span class="app-title">Social</span>
</a>
</li>
<li>
<a href="apps-travel.html">
<span class="app-icon bg-info text-white">
T
</span>
<span class="app-title">Travel</span>
</a>
</li>
</ul>
 
<nav role="navigation">
<ul class="nav">
 
<li>
<a href="index-2.html">
<i class="icon-compass"></i>
<span>Dashboard</span>
</a>
</li>
 
 
 
<li>
<a href="javascript:;">
<span class="badge pull-right">4</span>
<i class="icon-drop"></i>
<span>Cards</span>
</a>
<ul class="sub-menu">
<li>
<a href="cards-basic.html">
<span>Basic</span>
</a>
</li>
<li>
<a href="cards-portlets.html">
<span>Portlets</span>
</a>
</li>
<li>
<a href="cards-draggable.html">
<span>Draggable</span>
</a>
</li>
<li>
<a href="cards-widgets.html">
<span>Widgets</span>
</a>
</li>
</ul>
</li>
 
 
<li>
<a href="javascript:;">
<i class="icon-cursor"></i>
<span>Apps</span>
</a>
<ul class="sub-menu">
<li>
<a href="apps-calendar.html">
<span>Calendar</span>
</a>
</li>
<li>
<a href="apps-gallery.html">
<span>Gallery</span>
</a>
</li>
<li>
<a href="apps-messages.html">
<span>Messages</span>
</a>
</li>
<li>
<a href="apps-social.html">
<span>Social</span>
</a>
</li>
<li>
<a href="apps-projects.html">
<span>Projects</span>
</a>
</li>
<li>
<a href="apps-contacts.html">
<span>Contacts</span>
</a>
</li>
<li>
<a href="apps-travel.html">
<span>Travel</span>
</a>
</li>
</ul>
</li>
 
 
<li>
<a href="/tickets/index">
<i class="icon-doc"></i>
<span>Tickets</span>
</a>

</li>
 
 
<li>
<a href="/announcements/index">
<i class="icon-earphones-alt"></i>
<span>Announcements</span>
</a>
</li>
 
 
<li>
<a href="javascript:;">
<i class="icon-loop"></i>
<span>Forms</span>
</a>
<ul class="sub-menu">
<li>
<a href="forms-basic.html">
<span>Basic</span>
</a>
</li>
<li>
<a href="forms-custom.html">
<span>Custom</span>
</a>
</li>
<li>
<a href="forms-plugins.html">
<span>Plugins</span>
</a>
</li>
<li>
<a href="forms-wizard.html">
<span>Wizard</span>
</a>
</li>
<li>
<a href="forms-editors.html">
<span>Editors</span>
</a>
</li>
<li>
<a href="forms-validation.html">
<span>Validation</span>
</a>
</li>
<li>
<a href="forms-masks.html">
<span>Masks</span>
</a>
</li>
<li>
<a href="forms-upload.html">
<span>Upload</span>
</a>
</li>
</ul>
</li>
 
 
<li>
<a href="javascript:;">
<i class="icon-share-alt"></i>
<span>Tables</span>
</a>
<ul class="sub-menu">
<li>
<a href="tables-basic.html">
<span>Basic</span>
</a>
</li>
<li>
<a href="tables-responsive.html">
<span>Responsive</span>
</a>
</li>
<li>
<a href="tables-datatables.html">
<span>Datatables</span>
</a>
</li>
<li>
<a href="tables-editable.html">
<span>Editable</span>
</a>
</li>
</ul>
</li>
 
 
<li>
<a href="javascript:;">
<i class="icon-pie-chart"></i>
<span>Charts</span>
</a>
<ul class="sub-menu">
<li>
<a href="charts-flot.html">
<span>Flot</span>
</a>
</li>
<li>
<a href="charts-easypie.html">
<span>Easypie</span>
</a>
</li>
<li>
<a href="charts-chartjs.html">
<span>Chartjs</span>
</a>
</li>
<li>
<a href="charts-rickshaw.html">
<span>Rickshaw</span>
</a>
</li>
<li>
<a href="charts-nvd3.html">
<span>nvd3</span>
</a>
</li>
<li>
<a href="charts-c3js.html">
<span>C3js</span>
</a>
</li>
</ul>
</li>
 
 
<li>
<a href="javascript:;">
<i class="icon-pointer"></i>
<span>Maps</span>
</a>
<ul class="sub-menu">
<li>
<a href="maps-google.html">
<span>Google</span>
</a>
</li>
<li>
<a href="maps-vector.html">
<span>Vector</span>
</a>
</li>
</ul>
</li>
 
 
<li>
<a href="javascript:;">
<i class="icon-tag"></i>
<span>Extras</span>
</a>
<ul class="sub-menu">
<li>
<a href="extras-invoice.html">
<span>Invoice</span>
</a>
</li>
<li>
<a href="extras-timeline.html">
<span>Timeline</span>
</a>
</li>
<li>
<a href="extras-timeline-stacked.html">
<span>Stacked timeline</span>
</a>
</li>
<li>
<a href="extras-post.html">
<span>Post</span>
</a>
</li>
<li>
<a href="extras-sortable.html">
<span>Sortable</span>
</a>
</li>
<li>
<a href="extras-nestable.html">
<span>Nestable</span>
</a>
</li>
<li>
<a href="extras-signin.html">
<span>Signin</span>
</a>
</li>
<li>
<a href="extras-signin2.html">
<span>Signin v2</span>
</a>
</li>
<li>
<a href="extras-signup.html">
<span>Signup</span>
</a>
</li>
<li>
<a href="extras-signup2.html">
<span>Signup v2</span>
</a>
</li>
<li>
<a href="extras-forgot.html">
<span>Forgot</span>
</a>
</li>
<li>
<a href="extras-lockscreen.html">
<span>Lockscreen</span>
</a>
</li>
<li>
<a href="extras-404.html">
<span>404 page</span>
</a>
</li>
<li>
<a href="extras-500.html">
<span>500 page</span>
</a>
</li>
<li>
<a href="blank.html">
<span>Starter</span>
</a>
</li>
</ul>
</li>
 
 
<li>
<a href="javascript:;">
<i class="icon-frame"></i>
<span>Menu Level</span>
</a>
<ul class="sub-menu">
<li>
<a href="javascript:;">
<i class="toggle-accordion"></i>
<span>Level</span>
</a>
<ul class="sub-menu">
<li>
<a href="javascript:;">
<i class="toggle-accordion"></i>
<span>Level</span>
</a>
<ul class="sub-menu">
<li>
<a href="javascript:;">
<span>Level</span>
</a>
</li>
<li>
<a href="javascript:;">
<span>Level</span>
</a>
</li>
</ul>
</li>
<li>
<a href="javascript:;">
<span>Level</span>
</a>
</li>
</ul>
</li>
<li>
<a href="javascript:;">
<span>Level</span>
</a>
</li>
</ul>
</li>
 
 
<li>
<a href="#" target="_blank">
<i class="icon-layers"></i>
<span>Documentation</span>
</a>
</li>
 
 
<li>
<a href="#" target="_blank">
<i class="icon-control-play"></i>
<span>Angular version</span>
</a>
</li>
 
</ul>
</nav>
 
</div>