
<html>
  <head>
    <title>Paybox</title>
    <%= csrf_meta_tags %>

   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    



  </head>

  <body>
    
    <%= yield %>
    <script src="../scripts/app.min.js"></script>
 
<script src="../vendor/flot/jquery.flot.js"></script>
<script src="../vendor/flot/jquery.flot.resize.js"></script>
<script src="../vendor/flot/jquery.flot.categories.js"></script>
<script src="../vendor/flot/jquery.flot.stack.js"></script>
<script src="../vendor/flot/jquery.flot.time.js"></script>
<script src="../vendor/flot/jquery.flot.pie.js"></script>
<script src="../vendor/flot-spline/js/jquery.flot.spline.js"></script>
<script src="../vendor/flot.orderbars/js/jquery.flot.orderBars.js"></script>
 
 
<script src="../scripts/helpers/sameheight.js"></script>
<script src="../scripts/ui/dashboard.js"></script>
  </body>
</html>
